.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Image {}

.body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100vh;
}

#signup .container #signup-row #signup-column #signup-box {
  margin-top: auto;
  max-width: auto;
  height: auto;
  border: 1px solid #9C9C9C;
  background-color: white;
}

#signup .container #signup-row #signup-column #signup-box #signup-form {
  padding: 20px;
}

#signup .container #signup-row #signup-column #signup-box #signup-form #register-link {
  margin-top: -85px;
}
